* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}